html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* base valiables */
@font-face {
  font-family: 'UTM Avo';
  src: url("../fonts/UTMAvo.eot");
  src: url("../fonts/UTMAvo.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAvo.woff2") format("woff2"), url("../fonts/UTMAvo.woff") format("woff"), url("../fonts/UTMAvo.svg#UTMAvo") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html:not(.lt-ie10) .not-animated {
  opacity: 0;
}

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.8rem;
  line-height: 1.5;
  color: #000000;
  width: 100%;
  height: 100%;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    -ms-word-break: inherit;
    word-break: inherit;
    word-break: inherit;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

button {
  border: none;
}

a {
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #231f20;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  padding: 0;
  margin: 0;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  height: auto;
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}

:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none;
}

output:-moz-ui-invalid {
  color: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
}

.txt-center {
  text-align: center;
}

.dl-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
}

body {
  height: 100vh;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

body .section-background {
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url("../images/bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-filter: sepia(28%);
          filter: sepia(28%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body .section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url("../images/bg.png");
    background-position: center top;
    background-repeat: repeat;
    -webkit-filter: sepia(28%);
            filter: sepia(28%);
  }
}

body .overlay {
  background: #00dbde;
  background: -webkit-gradient(linear, left top, left bottom, from(#00dbde), to(#fc00ff));
  background: linear-gradient(180deg, #00dbde, #fc00ff);
  mix-blend-mode: multiply;
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  body #wrapper {
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
  }
}

body #wrapper .container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  body #wrapper .container {
    max-width: 420px;
    height: 100vh;
  }
}

@media screen and (max-width: 420px) {
  body #wrapper .container {
    overflow: hidden;
  }
}

body #wrapper .container .light {
  position: absolute;
}

body #wrapper .container .light .image {
  opacity: 0.7;
}

body #wrapper .container .light .image .image-background {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body #wrapper .container .light#light-left {
  width: 481.469px;
  height: 393.429px;
  top: 15.8475px;
  left: -60.193px;
}

@media screen and (max-width: 768px) {
  body #wrapper .container .light#light-left {
    width: 304.91px;
    height: 249.155px;
    top: -2.3419px;
    left: -28.2321px;
  }
}

body #wrapper .container .light#light-left .image-background {
  width: 481.469px;
  height: 393.429px;
  top: 0px;
  left: 0px;
  background-image: url("../images/light-left.png");
}

@media screen and (max-width: 768px) {
  body #wrapper .container .light#light-left .image-background {
    width: 304.91px;
    height: 249.155px;
  }
}

body #wrapper .container .light#light-right {
  width: 481.469px;
  height: 393.429px;
  top: 15.8475px;
  right: -60.193px;
}

@media screen and (max-width: 768px) {
  body #wrapper .container .light#light-right {
    width: 256.651px;
    height: 236.503px;
    top: -2.3419px;
    right: -28px;
  }
}

body #wrapper .container .light#light-right .image-background {
  width: 440.535px;
  height: 368.401px;
  top: 0px;
  right: 0px;
  background-image: url("../images/light-right.png");
}

@media screen and (max-width: 768px) {
  body #wrapper .container .light#light-right .image-background {
    width: 282.811px;
    height: 236.503px;
  }
}

body #wrapper .container header,
body #wrapper .container #form {
  max-width: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
}

header .logo {
  max-width: 80%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 360px) {
  header .logo {
    max-width: 74.72222vw;
  }
}

header .logo:hover {
  opacity: 1;
}

header .logo img {
  margin-left: auto;
  margin-right: auto;
}

#form {
  margin-top: -75px;
}

@media screen and (max-width: 768px) {
  #form {
    display: none;
  }
}

#form .slogan {
  position: relative;
  z-index: 2;
}

#form .slogan img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 55%;
}

#form .panel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 50px;
  margin-top: 4px;
}

#form .panel .inputForm {
  padding-top: 80px;
  padding-bottom: 55px;
  max-width: 723px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px;
  padding-left: 25px;
}

#form .panel #registerForm .inputForm {
  background: url("../images/panel-reg.png") top center no-repeat;
  background-size: 100% 100%;
}

#form .panel #loginForm .inputForm {
  background: url("../images/panel-log.png") top center no-repeat;
  background-size: 100% 100%;
  padding-bottom: 90px;
}

#form .panel .tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#form .panel .tabs .tab-item {
  cursor: pointer;
}

#form .girl {
  position: absolute;
  bottom: 0;
  left: -264px;
  max-width: 69%;
}

#form #registerForm .form-group,
#form #loginForm .form-group {
  text-align: center;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#form #registerForm .form-group:nth-of-type(2), #form #registerForm .form-group:nth-of-type(3),
#form #loginForm .form-group:nth-of-type(2),
#form #loginForm .form-group:nth-of-type(3) {
  margin-top: 20px;
}

#form #registerForm .form-group .form-code,
#form #loginForm .form-group .form-code {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#form #registerForm .form-group .form-code .capcha,
#form #loginForm .form-group .form-code .capcha {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

#form #registerForm .form-group .form-code .btn-reload,
#form #loginForm .form-group .form-code .btn-reload {
  width: 59px;
  cursor: pointer;
}

#form #registerForm .form-group .form-control,
#form #loginForm .form-group .form-control {
  border: none;
  color: #ffffff;
  width: 100%;
  height: 45px;
  font-size: 20px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

#form #registerForm .form-group .form-control#username,
#form #loginForm .form-group .form-control#username {
  background: url("../images/input-user.png") center no-repeat;
  background-size: contain;
}

#form #registerForm .form-group .form-control#pwd, #form #registerForm .form-group .form-control#repeat-pwd,
#form #loginForm .form-group .form-control#pwd,
#form #loginForm .form-group .form-control#repeat-pwd {
  background: url("../images/input-pass.png") center no-repeat;
  background-size: contain;
}

#form #registerForm .form-group .form-control#code,
#form #loginForm .form-group .form-control#code {
  width: 42%;
  height: 53px;
  background: url("../images/input-code.png") center no-repeat;
  background-size: contain;
  padding-left: 20px;
  padding-right: 20px;
}

#form #registerForm .form-group .ic-eye,
#form #loginForm .form-group .ic-eye {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#form #registerForm .form-group .ic-eye,
#form #loginForm .form-group .ic-eye {
  right: 20px;
  top: 12px;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  #form #registerForm .form-group .ic-eye,
  #form #loginForm .form-group .ic-eye {
    right: 15.27778vw;
    top: 12.77778vw;
    width: 10.83333vw;
  }
}

#form #registerForm .form-group .ic-eye.eye-view,
#form #loginForm .form-group .ic-eye.eye-view {
  top: 10px;
}

#form #registerForm .form-group label.error,
#form #loginForm .form-group label.error {
  color: #ff4040;
  display: block !important;
  width: 100%;
}

@media screen and (max-width: 720px) {
  #form #registerForm .form-group label.error,
  #form #loginForm .form-group label.error {
    font-size: 6.11111vw;
  }
}

#form #registerForm .btnForm,
#form #loginForm .btnForm {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -40px;
  max-width: 85%;
  width: 100%;
}

@media screen and (max-width: 720px) {
  #form #registerForm .btnForm,
  #form #loginForm .btnForm {
    margin-top: 7.5vw;
    max-width: 185.55556vw;
  }
}

#form #registerForm .btnForm .btnsubmit,
#form #loginForm .btnForm .btnsubmit {
  background: none;
}

#form #registerForm .btnForm a:hover,
#form #loginForm .btnForm a:hover {
  opacity: 1;
}

#form #loginForm .form-group + .form-group {
  margin-top: 20px;
}

@media screen and (min-width: 769px) {
  .dowload-app {
    display: none;
  }
}

.dowload-app .image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.dowload-app .image-background {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dowload-app .element {
  position: absolute;
}

.dowload-app #logo {
  width: 297.638px;
  height: 265.21px;
  top: -4.143px;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 360px) {
  .dowload-app #logo {
    width: 71.56611vw;
  }
}

.dowload-app #logo .image-background {
  width: 297.638px;
  height: 265.21px;
  top: 0px;
  left: 0px;
  right: 0;
  margin: auto;
  background-image: url("../images/logo-sp.png");
}

@media screen and (max-width: 360px) {
  .dowload-app #logo .image-background {
    width: 71.56611vw;
    background-size: contain;
  }
}

.dowload-app #co-bai {
  width: 282.213px;
  height: 126.218px;
  top: 32.8006px;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 360px) {
  .dowload-app #co-bai {
    width: 61.72583vw;
    top: 14.66683vw;
  }
}

.dowload-app #co-bai .image-background {
  width: 282.213px;
  height: 126.218px;
  top: 0px;
  left: 0px;
  background-image: url("../images/co-bai.png");
}

@media screen and (max-width: 360px) {
  .dowload-app #co-bai .image-background {
    width: 61.72583vw;
    background-size: contain;
  }
}

.dowload-app #slogan-sp {
  width: 287.141px;
  height: 85.6738px;
  top: 179.019px;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 360px) {
  .dowload-app #slogan-sp {
    width: 68.65028vw;
    top: 41.67194vw;
  }
}

.dowload-app #slogan-sp .image-background {
  width: 282.213px;
  top: 0px;
  left: 0px;
  background-image: url("../images/slogan-sp.png");
}

@media screen and (max-width: 360px) {
  .dowload-app #slogan-sp .image-background {
    width: 68.65028vw;
    background-size: contain;
  }
}

.dowload-app #game {
  width: 535.513px;
  height: 409.132px;
  top: 228.161px;
  left: -52px;
}

.dowload-app #game .image .image-background {
  width: 535.513px;
  height: 409.132px;
  top: 0px;
  left: 0px;
  background-image: url("../images/game.png");
}

@media screen and (max-width: 768px) {
  .dowload-app #games {
    position: absolute;
    top: 208.161px;
    left: -52px;
    width: calc(100% + 102px);
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .dowload-app #games {
    top: 57.8225vw;
  }
}

.dowload-app .link-app {
  top: 506.61px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

@media screen and (max-width: 360px) {
  .dowload-app .link-app {
    top: 140.725vw;
  }
}

.dowload-app .link-app img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 360px) {
  .dowload-app .link-app img {
    max-width: 70.55556vw;
  }
}

.dowload-app .link-app .note {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */