@charset "utf-8";

@import './base/normalize';
@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/commons';

body {
    height: 100vh;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    // &.pc {
    //     // background: url('../images/bg.jpg') no-repeat;
    //     background-size: cover;
    // }
    // &.sp {
    //     // background: url('../images/bg-sp.jpg') no-repeat;
    //     background-size: cover;
    // }
    .section-background {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url('../images/bg.png');
        background-position: center top;
        background-repeat: no-repeat;
        filter: sepia(28%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        overflow: hidden;
        @media screen and (max-width: 768px) {
            background-size: cover;
            background-attachment: scroll;
            background-origin: content-box;
            background-image: url('../images/bg.png');
            background-position: center top;
            background-repeat: repeat;
            filter: sepia(28%);
        }
    }
    .overlay {
        background: #00dbde;
        background: -webkit-linear-gradient(180deg, #00dbde, #fc00ff);
        background: linear-gradient(180deg, #00dbde, #fc00ff);
        mix-blend-mode: multiply;
        will-change: transform, opacity;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        // @media screen and (max-width: 768px) {
        //     display: none;
        // }
    }
    #wrapper {
        @include min_769 {
            min-height: 100vh;
            margin: 0 auto;
            position: relative;
        }
        .container {
            max-width: 960px;
            width: 100%;
            margin: 0 auto;
            height: 100%;
            position: relative;
            @media screen and (max-width: 768px) {
                max-width: 420px;
                height: 100vh;
            }
            @media screen and (max-width: 420px) {
                overflow: hidden;
            }
            .light {
                position: absolute;
                // @media screen and (max-width: 768px) {
                //     display: none;
                // }
                .image {
                    opacity: 0.7;
                    .image-background {
                        background-repeat: no-repeat;
                        background-position: left top;
                        background-size: cover;
                        background-attachment: scroll;
                        background-origin: content-box;
                        position: absolute;
                        margin: 0 auto;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                    }
                }
                &#light-left {
                    width: 481.469px;
                    height: 393.429px;
                    top: 15.8475px;
                    left: -60.193px;
                    @media screen and (max-width: 768px) {
                        width: 304.91px;
                        height: 249.155px;
                        top: -2.3419px;
                        left: -28.2321px;
                    }
                    .image-background {
                        width: 481.469px;
                        height: 393.429px;
                        top: 0px;
                        left: 0px;
                        background-image: url('../images/light-left.png');
                        @media screen and (max-width: 768px) {
                            width: 304.91px;
                            height: 249.155px;
                        }
                    }
                }
                &#light-right {
                    width: 481.469px;
                    height: 393.429px;
                    top: 15.8475px;
                    right: -60.193px;
                    @media screen and (max-width: 768px) {
                        width: 256.651px;
                        height: 236.503px;
                        top: -2.3419px;
                        right: -28px;
                    }
                    .image-background {
                        width: 440.535px;
                        height: 368.401px;
                        top: 0px;
                        right: 0px;
                        background-image: url('../images/light-right.png');
                        @media screen and (max-width: 768px) {
                            width: 282.811px;
                            height: 236.503px;
                        }
                    }
                }
            }
            header,
            #form {
                max-width: 450px;
                width: 100%;
                @include mlrauto;
            }
        }
    }
}

header {
    position: relative;
    z-index: 2;
    @include max_768 {
        display: none;
    }
    .logo {
        max-width: 80%;
        width: 100%;
        display: block;
        @include mlrauto;
        @media screen and (max-width: 360px) {
            max-width: vw(269px);
        }
        &:hover {
            opacity: 1;
        }
        img {
            @include mlrauto;
        }
    }
}

#form {
    margin-top: -75px;
    @media screen and (max-width: 768px) {
        display: none;
    }
    .slogan {
        position: relative;
        z-index: 2;
        img {
            @include mlrauto;
            display: block;
            max-width: 55%;
        }
    }
    .panel {
        // background-size: 100% 100% !important;
        @include mlrauto;
        position: relative;
        padding-bottom: 50px;
        margin-top: 4px;
        .inputForm {
            padding-top: 80px;
            padding-bottom: 55px;
            max-width: 723px;
            width: 100%;
            @include mlrauto;
            padding-right: 25px;
            padding-left: 25px;
        }
        #registerForm {
            .inputForm {
                background: url('../images/panel-reg.png') top center no-repeat;
                background-size: 100% 100%;
            }
        }
        #loginForm {
            .inputForm {
                background: url('../images/panel-log.png') top center no-repeat;
                background-size: 100% 100%;
                padding-bottom: 90px;
            }
        }
        .tabs {
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            .tab-item {
                cursor: pointer;
            }
        }
    }
    .girl {
        position: absolute;
        bottom: 0;
        left: -264px;
        max-width: 69%;
    }
    #registerForm,
    #loginForm {
        .form-group {
            text-align: center;
            position: relative;
            // max-width: 594px;
            width: 100%;
            @include mlrauto;
            &:nth-of-type(2),
            &:nth-of-type(3) {
                // padding-top: 10px;
                margin-top: 20px;
                // @media screen and (max-width: 720px) {
                //     padding-top: vw(10px);
                //     margin-top: vw(5px);
                // }
            }
            .form-code {
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                .capcha {
                    width: 40%;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                }
                .btn-reload {
                    width: 59px;
                    cursor: pointer;
                }
            }
            .form-control {
                border: none;
                color: #ffffff;
                width: 100%;
                height: 45px;
                font-size: 20px;
                text-align: center;
                padding-left: 60px;
                padding-right: 60px;
                // @media screen and (max-width: 720px) {
                //     width: vw(571px);
                //     height: vw(100px);
                //     font-size: vw(26.5px);
                //     padding-bottom: vw(10px);
                //     padding-left: vw(100px);
                //     padding-right: vw(100px);
                // }
                &#username {
                    background: url('../images/input-user.png') center no-repeat;
                    background-size: contain;
                }
                &#pwd,
                &#repeat-pwd {
                    background: url('../images/input-pass.png') center no-repeat;
                    background-size: contain;
                }
                &#code {
                    width: 42%;
                    height: 53px;
                    background: url('../images/input-code.png') center no-repeat;
                    background-size: contain;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            .ic-eye {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .ic-eye {
                right: 20px;
                top: 12px;
                cursor: pointer;
                @media screen and (max-width: 720px) {
                    right: vw(55px);
                    top: vw(46px);
                    width: vw(39px);
                }
                &.eye-view {
                    top: 10px;
                }
            }
            label.error {
                color: #ff4040;
                display: block !important;
                width: 100%;
                @media screen and (max-width: 720px) {
                    font-size: vw(22px);
                }
            }
        }
        .btnForm {
            @include mlrauto;
            justify-content: center;
            margin-top: -40px;
            max-width: 85%;
            width: 100%;
            @media screen and (max-width: 720px) {
                margin-top: vw(27px);
                max-width: vw(668px);
            }
            .btnsubmit {
                background: none;
            }
            a {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    #loginForm {
        .form-group {
            & + .form-group {
                margin-top: 20px;
            }
        }
    }
}

.dowload-app {
    @media screen and (min-width: 769px) {
        display: none;
    }
    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }
    .image-background {
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .element {
        position: absolute;
    }
    #logo {
        width: 297.638px;
        height: 265.21px;
        top: -4.143px;
        left: 0;
        right: 0;
        margin: auto;
        @media screen and (max-width: 360px) {
            width: vw(257.638px);
        }
        .image-background {
            width: 297.638px;
            height: 265.21px;
            top: 0px;
            left: 0px;
            right: 0;
            margin: auto;
            background-image: url('../images/logo-sp.png');
            @media screen and (max-width: 360px) {
                width: vw(257.638px);
                background-size: contain;
            }
        }
    }
    #co-bai {
        width: 282.213px;
        height: 126.218px;
        top: 32.8006px;
        left: 0;
        right: 0;
        margin: auto;
        @media screen and (max-width: 360px) {
            width: vw(222.213px);
            top: vw(52.8006px);
        }
        .image-background {
            width: 282.213px;
            height: 126.218px;
            top: 0px;
            left: 0px;
            background-image: url('../images/co-bai.png');
            @media screen and (max-width: 360px) {
                width: vw(222.213px);
                background-size: contain;
            }
        }
    }
    #slogan-sp {
        width: 287.141px;
        height: 85.6738px;
        top: 179.019px;
        left: 0;
        right: 0;
        margin: auto;
        @media screen and (max-width: 360px) {
            width: vw(247.141px);
            top: vw(150.019px);
        }
        .image-background {
            width: 282.213px;
            top: 0px;
            left: 0px;
            background-image: url('../images/slogan-sp.png');
            @media screen and (max-width: 360px) {
                width: vw(247.141px);
                background-size: contain;
            }
        }
    }
    #game {
        width: 535.513px;
        height: 409.132px;
        top: 228.161px;
        left: -52px;
        .image {
            .image-background {
                width: 535.513px;
                height: 409.132px;
                top: 0px;
                left: 0px;
                background-image: url('../images/game.png');
            }
        }
    }
    #games {
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 208.161px;
            left: -52px;
            width: calc(100% + 102px);
            overflow-x: hidden;
            @media screen and (max-width: 360px) {
                top: vw(208.161px);
            }
        }
    }
    .link-app {
        // width: 201.341px;
        // height: 59.5207px;
        top: 506.61px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        @media screen and (max-width: 360px) {
            top: vw(506.61px);
        }
        img {
            display: block;
            @include mlrauto;
            @media screen and (max-width: 360px) {
                max-width: vw(254px);
            }
        }
        .note {
            color: #ffffff;
            font-size: 13px;
            text-align: center;
        }
    }
}
